<div class="container">
	<p>Select Health Center:
		<select id="hc_select">
	<% @hc_data.each_with_index do |center, index| %>
			<option <% if index == 1 %>selected<%end%>value="<%= center[:center_name] %>"><%= center[:center_name] %></option>
		<%end%>
	</select>
	</p>
	<% for center in @hc_data do %>
		<table class="hidden hc_table" id="<%=center[:center_name]%>">
			<thead>
				<tr>
					<td>All Drugs</td>
					<td><a class="zero_count_hide">Show/Hide Zero Counts</a></td>
				</tr>
			</thead>
			<tr>
				<th>CPT Code</th>
				<th>Name</th>
				<th>Vendor</th>
				<th>Count</th>
				<th>Consumption</th>
			</tr>
			<% for cpt in center[:drugs] %>
				<tr <% if cpt[:current_count] == 0 then %> class="zero-count hidden" <% end %>>
					<td><%= cpt[:code] %></td>
					<td class="drug_name"><%= cpt[:name] %></td>
					<td><%= cpt[:vendor] %></td>
					<td><%= cpt[:current_count] %></td>
					<td><a class="chart_link" id="sales_chart_<%= center[:center_name]%>_<%= cpt[:code]%>">View</a></td>
				</tr>
			<% end %>
		</table>
	<%end%>
  <%# TODO: pagination, use will_paginate gem %>
</div><!-- end of "container" -->
<script>
var count_data = new Object();
<% for center in @hc_data do %>
	count_data.<%= center[:center_name] %> = <%= center[:counts] %>; 
<%end%>
</script>
<script type="text/javascript" src="js/highcharts.js"></script>
<script type="text/javascript" src="/js/drugdisplay.js"></script>
